<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Panel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar sticky-top bg-body-tertiary" style="background-color: #fff; border-bottom: 1px solid #B44F29;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://i.hizliresim.com/bdy4xb6.png" class="img"
          width="100px" height="100px" style="margin-left: 10px;">
      </a>
      <div>
        <a class="btn btn-success text-white" style="height: 40px; width: 90px;" href="/download">İndir</a>
      </div>
    </div>
  </nav>

  <div class="container mt-2">
    {% include "info.html" %}
  </div>


  <div class="d-flex justify-content-center">
    <div class="card" style="width: 50rem; margin-top: 20px; height: 20rem;">
      <div class="card-body">
        <div class="container">
          <div class="container text-center">
            <div class="row align-items-start">
              <div class="col" style=" background-color: rgb(211, 211, 211); border-radius: 8px; height: 18rem;">
                <p class="lead" style=" background-color:rgb(211, 211, 211) ;font-size: 35px ;">Bildirilenler</p>
                <ul class="list-group list-group-flush overflow-auto h-75">

                  {% for comment in reported_comments %}

                  <div class="container">
                    <li class="list-group-item mb-3" {% if comment.toxic_conf > 0.4 %} style="background-color: #F5CBA7;" {% elif comment.toxic_conf > 0.2%} style="background-color: #FCF3CF;" {% endif %}>
                      <div class="comment-header">
                        <div class="comment-info"
                          style="box-sizing:border-box; display:flex; gap: 12px; color: #666666; font-size: 14px;">
                          <div class="comment-info-item" style="color: #1C1C1C; font-size: 15px;">{{ comment.username }}
                          </div>
                          <div class="comment-info-item d-flex justify-content-between w-100">
                            <span>{{comment.date_posted}}</span>
                            <span class="word-wrap">{{comment.label}} - {{'%0.4f' % comment.confidence}} - {{
                              comment.timesreported }} kere raporlandı.</span>
                          </div>
                        </div>
                      </div>
                      <div class="comment-bottom"
                        style="display: flex; justify-content: space-between; align-items: center;">

                        <div class="comment-text" style="margin: 12px 0;">
                          <p>{{ comment.comment }}</p>
                        </div>

                        <div class="seller-action"
                          style="display: flex; align-items: center; gap: 8px; cursor: pointer;">
                          <div class="rnr-com-like" style="display: flex; align-items: center; gap: 8px; cursor: pointer;">

                            <a href="/accept?id={{ comment.id }}" type="button" class="btn">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="666666"
                                class="bi bi-patch-check" viewBox="0 2 16 16">
                                <path fill-rule="evenodd"
                                  d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0">
                                </path>
                                <path
                                  d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z">
                                </path>
                              </svg>
                              <span class="visually-hidden">Onayla</span>
                            </a>

                            <a href="/delete?id={{ comment.id }}" type="button" class="btn">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="#666666"
                                class="bi bi-trash3-fill" viewBox="0 2 16 16">
                                <path
                                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5">
                                </path>
                              </svg>
                              <span class="visually-hidden">Sil</span>
                            </a>

                            <a href="/block?id={{ comment.id }}" type="button" class="btn">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="#666666"
                                class="bi bi-ban" viewBox="0 2 16 16">
                                <path
                                  d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0">
                                </path>
                              </svg>
                              <span class="visually-hidden">Blockla</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </div>

                  {% endfor %}

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card" style="width: 70rem; margin-top: 20px;">
      <div class="card-body" style="width: 70rem; height: 20rem; margin-bottom: 20px">

        <div class="row justify-content-around">

          <div class="col-4"
            style="width: 30rem; height: 18rem; background-color: rgb(210, 255, 212); border-radius: 8px;">
            <p class="lead text-center" style="background-color: rgb(210, 255, 212);font-size: 25px; padding-top: 6px;">
              Yayınlanan Yorumlar</p>

            <ul class="list-group list-group-flush overflow-auto h-75">

              {% for comment in published_comments %}

              <div class="container">
                <li class="list-group-item mb-3" {% if comment.toxic_conf > 0.4 %} style="background-color: #F5CBA7;" {% elif comment.toxic_conf > 0.2%} style="background-color: #FCF3CF;" {% endif %}>
                  <div class="comment-header">
                    <div class="comment-info"
                      style="box-sizing:border-box; display:flex; gap: 12px; color: #666666; font-size: 14px;">
                      <div class="comment-info-item" style="color: #1C1C1C; font-size: 15px;">{{ comment.username }}
                      </div>
                      <div class="comment-info-item d-flex justify-content-between w-100">
                        <span>{{comment.date_posted}}</span>
                        <span class="word-wrap">{{comment.label}} - {{'%0.4f' % comment.confidence}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="comment-bottom"
                    style="display: flex; justify-content: space-between; align-items: center;">

                    <div class="comment-text" style="margin: 12px 0;">
                      <p>{{ comment.comment }}</p>
                    </div>

                    <div class="seller-action" style="display: flex; align-items: center; gap: 8px; cursor: pointer;">
                      <div class="rnr-com-like" style="display: flex; align-items: center; gap: 8px; cursor: pointer;">


                        <a href="/delete?id={{ comment.id }}" type="button" class="btn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="#666666"
                            class="bi bi-trash3-fill" viewBox="0 2 16 16">
                            <path
                              d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5">
                            </path>
                          </svg>
                          <span class="visually-hidden">Sil</span>
                        </a>

                        <a href="/block?id={{ comment.id }}" type="button" class="btn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="#666666"
                            class="bi bi-ban" viewBox="0 2 16 16">
                            <path
                              d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0">
                            </path>
                          </svg>
                          <span class="visually-hidden">Block</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
              {% endfor %}


            </ul>
          </div>

          <div class="col-4"
            style="width: 30rem; height: 18rem; background-color: rgb(255, 215, 210); border-radius: 8px;">
            <p class="lead text-center" style="background-color: rgb(255, 215, 210);font-size: 25px ;padding-top: 6px;">
              Yayınlanmayan Yorumlar</p>
            <ul class="list-group list-group-flush overflow-auto h-75">

              {% for comment in deteced_comments %}

              <div class="container">
                <li class="list-group-item mb-3" {% if comment.toxic_conf > 0.4 %} style="background-color: #F5CBA7;" {% elif comment.toxic_conf > 0.2%} style="background-color: #FCF3CF;" {% endif %}>
                  <div class="comment-header">
                    <div class="comment-info"
                      style="box-sizing:border-box; display:flex; gap: 12px; color: #666666; font-size: 14px;">
                      <div class="comment-info-item" style="color: #1C1C1C; font-size: 15px;">{{ comment.username }}
                      </div>
                      <div class="comment-info-item d-flex justify-content-between w-100">
                        <span>{{comment.date_posted}}</span>
                        <span class="word-wrap">{{comment.label}} - {{'%0.4f' % comment.confidence}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="comment-bottom"
                    style="display: flex; justify-content: space-between; align-items: center;">

                    <div class="comment-text" style="margin: 12px 0;">
                      <p>{{ comment.comment }}</p>
                    </div>

                    <div class="seller-action" style="display: flex; align-items: center; gap: 8px; cursor: pointer;">
                      <div class="rnr-com-like" style="display: flex; align-items: center; gap: 8px; cursor: pointer;">

                        <a href="/accept?id={{ comment.id }}" type="button" class="btn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="666666"
                            class="bi bi-patch-check" viewBox="0 2 16 16">
                            <path fill-rule="evenodd"
                              d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0">
                            </path>
                            <path
                              d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z">
                            </path>
                          </svg>
                          <span class="visually-hidden">Accept</span>
                        </a>



                        <a href="/block?id={{ comment.id }}" type="button" class="btn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="#666666"
                            class="bi bi-ban" viewBox="0 2 16 16">
                            <path
                              d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0">
                            </path>
                          </svg>
                          <span class="visually-hidden">Block</span>
                        </a>


                      </div>
                    </div>
                </li>
              </div>
              {% endfor %}


            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


  <div class="b-example-divider"></div>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary" style="font-size: 13px; color: #666666;">Made by Çağlar Kabaca,
        Berkay Biçer, Arzu Ecem Tüfekçi</p>

      <a href="#"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="https://i.hizliresim.com/bdy4xb6.png" class="img"
          width="65px" height="65px">
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Anasayfa</a></li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
            style="color: #666666;">
            Hakkımızda
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/arzu-ecem-tüfekçi-3456931b3/">Arzu Ecem
                Tüfekçi</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/caglar-kabaca/">Çağlar Kabaca</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/berkaybicer/">Berkay Biçer</a></li>
          </ul>
        </li>
      </ul>
    </footer>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>